# sckit-Learn 맛보기

## 1) 데이터 전처리

In [28]:
from sklearn.datasets import load_iris
iris = load_iris()

In [29]:
# Feature 데이터, x독립변수 
iris.data.shape

(150, 4)

In [30]:
iris.feature_names  # 독립변수 이름

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [31]:
# Taret data , y종속변수
iris.target.shape

(150,)

In [32]:
iris.target_names # 종속변수 이름

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [33]:
print(iris.DESCR )  # 데이터 설명

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [58]:
import pandas as pd
iris_df = pd.DataFrame(iris.data, columns = iris.feature_names)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [35]:
iris_df['species'] = iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## 2) 학습용 데이터와 테스트용 데이터 분리

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(  # Notation: 1차원 데이터는 소문자, 2차원이상 데이터부터 대분자로 표기
 iris.data, iris.target, test_size=0.2, random_state=2011  # 독립변수데이터, 종속변수 데이터
)

In [37]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120,), (30,))

In [38]:
y_test # 데이터 골고루 추출

array([1, 0, 0, 1, 2, 2, 1, 2, 1, 0, 0, 0, 0, 0, 2, 0, 1, 2, 1, 1, 1, 2,
       1, 2, 1, 2, 0, 1, 2, 1])

## 3) 머신러닝 알고리즘을 적용해 학습

### - 결정트리(Decision Tree)

In [39]:
from sklearn.tree import DecisionTreeClassifier # 분류시 DecisionTreeClassifier

In [40]:
# 객체생성 --> 모델 생성, 괄호안 hyper parameter
dt_clf = DecisionTreeClassifier(random_state=2011)

In [41]:
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2011)

### - SVM(support Vector Machine)

In [42]:
from sklearn.svm import SVC

In [43]:
sv_clf = SVC()
sv_clf.fit(X_train,y_train)

SVC()

### - Logistic Regression

In [44]:
from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression()
lr_clf.fit(X_train,y_train)

C:\Users\CPB06GameN\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## 4) 학습된 모델을 기반으로 테스트 데이터에 대해 예측 수행

In [45]:
# Decision Tree
pred_dt = dt_clf.predict(X_test)

In [46]:
# SVM
pred_sv = sv_clf.predict(X_test)

In [53]:
# 로지스틱회귀
pred_lr = lr_clf.predict(X_test)

## 5) 모델의 평가

In [48]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, pred_dt)
print(f'결정트리 예측정확도:{score:.4f}')

결정트리 예측정확도:0.9000

In [49]:
dt_clf.score(X_test,y_test)

0.9

In [51]:
# SVM
sv_clf.score(X_test,y_test)

0.9333333333333333

In [60]:
#로지스틱회귀
lr_clf.score(X_test,y_test)

0.9666666666666667

In [62]:
pred_df = pd.DataFrame({
    '실제값': y_test,
    '결정트리예측값':pred_dt,
    '서포트벡터머신예측값':pred_sv,
    '로지스틱회귀예측값':pred_lr})
pred_df

    실제값  결정트리예측값  서포트벡터머신예측값  로지스틱회귀예측값
0     1        1           1          1
1     0        0           0          0
2     0        0           0          0
3     1        1           1          1
4     2        1           1          2
5     2        2           2          2
6     1        1           1          1
7     2        2           2          2
8     1        1           1          1
9     0        0           0          0
10    0        0           0          0
11    0        0           0          0
12    0        0           0          0
13    0        0           0          0
14    2        1           2          2
15    0        0           0          0
16    1        1           2          2
17    2        2           2          2
18    1        1           1          1
19    1        1           1          1
20    1        1           1          1
21    2        2           2          2
22    1        1           1          1
23    2        2           2          2
24    1        1           1          1
25    2        2           2          2
26    0        0           0          0
27    1        1           1          1
28    2        1           2          2
29    1        1           1          1