In [ ]:
# 경고무시
import warnings
warnings.filterwarnings(action='ignore')

# PIMA INDIANS sol

# 1.전처리

In [3]:
import pandas as pd
df = pd.read_csv("pima-indians-diabetes.csv") # skiprows=9, header=None 
df

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
# 결측값있는지 확인
df.isna().sum()

Number of times pregnant                                                    0
Plasma glucose concentration a 2 hours in an oral glucose tolerance test    0
Diastolic blood pressure (mm Hg)                                            0
Triceps skin fold thickness (mm)                                            0
Hour serum insulin (mu U/ml)                                                0
Body mass index (weight in kg/(height in m)^2)                              0
Diabetes pedigree function                                                  0
Age (years)                                                                 0
Class variable (0 or 1)                                                     0
dtype: int64

### - 데이터 프레임열 가져오기_ 슬라이싱이용

In [5]:
df.iloc[:5, :8]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years)
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [2]:
# 맨 마지막열 제외하고 x
df.iloc[:,:-1]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years)
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [7]:
# 맨마지막열 y
df.iloc[:,-1]

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Class variable (0 or 1), Length: 768, dtype: int64

In [9]:
df['Class variable (0 or 1)'].value_counts()

0    500
1    268
Name: Class variable (0 or 1), dtype: int64

# 2. Train/Test set 분리

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( 
 df.iloc[:, :8], df['Class variable (0 or 1)'], test_size=0.2, random_state=2021,
 stratify = df['Class variable (0 or 1)'] # 불균형하게 데이터가 분포되어있을 경우 stratefy 속성을 추가해야함 
)

In [18]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 8), (154, 8), (614,), (154,))

In [19]:
y_test.value_counts()

0    100
1     54
Name: Class variable (0 or 1), dtype: int64

In [21]:
type(y_test)

pandas.core.series.Series

In [20]:
pd.Series(y_test).value_counts() # y_test가 시리즈가 되어 value_counts()를 사용할 수 있어짐

0    100
1     54
Name: Class variable (0 or 1), dtype: int64

# 3.  모델 생성 및 학습

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
dtc = DecisionTreeClassifier(random_state=2021)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

# 4. 학습된 모델로 예측

In [24]:
pred = dtc.predict(X_test)

# 5. 실제값과 예측값 비교하여 모델 성능 평가

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7077922077922078

# 6. GridSearchCV 사용

In [26]:
from sklearn.model_selection import GridSearchCV

In [27]:
params = {
    'max_depth': [2, 4, 6],
    'min_samples_split': [2, 4, 6]
}

In [28]:
dtc = DecisionTreeClassifier(random_state=2021)
grid_dtc = GridSearchCV(dtc, param_grid=params, cv=3)  # 3*3*3 = 27번
grid_dtc.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [2, 4, 6],
                         'min_samples_split': [2, 4, 6]})

In [29]:
grid_dtc.best_score_

0.7443248844253149

In [30]:
grid_dtc.best_params_

{'max_depth': 2, 'min_samples_split': 2}

In [32]:
pred = grid_dtc.best_estimator_.predict(X_test)
accuracy_score(y_test, pred)

0.7337662337662337

In [33]:
pred.shape

(154,)

# 실제값 하나를 주고 당뇨병인지 아닌지 여부를 확인
## -> np.array(실제값 데이터).reshape(1,x차원)

In [35]:
import numpy as np

In [45]:
estimator = grid_dtc.best_estimator_
test_data = [4,110,92,0,0,37.6,0.191,30] # 1차원
predict = estimator.predict(np.array(test_data).reshape(1,8))
# estimator.predict() : 인자에 x_test를 그대로 쓰면 차원이 맞지 않아 오류가 발생=>reshape이용
# reshape 함수를 이용하려면 numpy이용, 따라서 np.array().reshape   # 결과도 array도 나옴

In [46]:
predict

array([0], dtype=int64)

In [47]:
predict[0]

0

In [48]:
estimator.predict([test_data])[0]

0