In [212]:
# 경고무시
import warnings
warnings.filterwarnings(action='ignore')

## 21.06.17 한경아카데미 _ 서현진

# PIMA INDEANS

## 1. 데이터 가져오기

In [179]:
import pandas as pd
dt = pd.read_csv("pima-indians-diabetes.csv")
dt

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [181]:
# x
dt.data = dt[['Number of times pregnant', 'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
'Diastolic blood pressure (mm Hg)','Triceps skin fold thickness (mm)',
'Hour serum insulin (mu U/ml)','Body mass index (weight in kg/(height in m)^2)',
'Diabetes pedigree function','Age (years)'
]]
dt.data

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years)
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [183]:
# y 
dt.target=dt['Class variable (0 or 1)']
dt.target

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Class variable (0 or 1), Length: 768, dtype: int64

In [184]:
dt.target.value_counts()  # 불균등 분포

0    500
1    268
Name: Class variable (0 or 1), dtype: int64

## 2. Train / Test 데이터 셋으로 분리

In [186]:
from sklearn.model_selection import train_test_split

In [187]:
X_train, X_test, y_train, y_test = train_test_split( 
 dt.data, dt.target, test_size=0.2, random_state=2021,
 stratify = dt.target # 불균형하게 데이터가 분포되어있을 경우 stratefy 속성을 추가해야함 
)

In [188]:
pd.Series(y_test).value_counts()

0    100
1     54
Name: Class variable (0 or 1), dtype: int64

## 3. 모델 생성하고 학습

### - 의사결정나무

In [83]:
from sklearn.tree import DecisionTreeClassifier

In [84]:
dtc = DecisionTreeClassifier(random_state= 2021)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

### - 서포트벡터머신

In [191]:
from sklearn.svm import SVC

sv_clf = SVC()
sv_clf.fit(X_train,y_train)

SVC()

### - 로지스틱회귀

In [217]:
from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression()
lr_clf.fit(X_train,y_train)

LogisticRegression()

## 4.학습된 모델로 예측

In [61]:
#decision tree
pred = dtc.predict(X_test)

In [193]:
# SVM
pred_sv = sv_clf.predict(X_test)

In [194]:
# 로지스틱회귀
pred_lr = lr_clf.predict(X_test)

## 5. 예측값과 실제값 비교하여 모델성능 평가

In [62]:
# decision tree
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7077922077922078

In [195]:
# SVM
sv_clf.score(X_test,y_test)

0.7467532467532467

In [196]:
# 로지스틱회귀
lr_clf.score(X_test,y_test)

0.8051948051948052

## 6. 모형 최적화 _ GridSearchCV 
교차검증과 하이퍼 파라미터 한번에 수행

### - 의사결정나무

In [110]:
from sklearn.model_selection import GridSearchCV

In [300]:
params = {
    'max_depth' : [1,2,5,8],
    'min_samples_split' : [2,5]
}

In [301]:
dtc = DecisionTreeClassifier(random_state=2021)
grid_dtc = GridSearchCV(dtc, param_grid = params, cv = 3)
grid_dtc.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [1, 2, 5, 8],
                         'min_samples_split': [2, 5]})

In [302]:
grid_dtc.best_params_

{'max_depth': 2, 'min_samples_split': 2}

In [303]:
grid_dtc.best_score_

0.7443248844253149

In [304]:
# best estimator로 예측
pred = grid_dtc.best_estimator_.predict(X_test)
accuracy_score(y_test,pred) # 평가

0.7337662337662337

### -서포트벡터머신SVM

In [266]:
params = {
    'C':[2,2.5,2.8]
}

In [267]:
sv_clf=SVC(random_state=2021)
grid_svc = GridSearchCV(sv_clf, param_grid = params, cv = 3)
grid_svc.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=SVC(random_state=2021),
             param_grid={'C': [2, 2.5, 2.8]})

In [268]:
grid_svc.best_params_

{'C': 2.5}

In [269]:
grid_svc.best_score_

0.7671608480790691

In [252]:
# best estimator로 예측
pred = grid_svc.best_estimator_.predict(X_test)
accuracy_score(y_test,pred)

0.7532467532467533

### - 로지스틱회귀

In [279]:
params = {
    'C':[1.8,2,2.2]
}

In [280]:
lr_clf=LogisticRegression(random_state=2021)
grid_lr = GridSearchCV(lr_clf, param_grid = params, cv = 3)
grid_lr.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=LogisticRegression(random_state=2021),
             param_grid={'C': [1.8, 2, 2.2]})

In [281]:
grid_lr.best_params_

{'C': 2}

In [282]:
grid_lr.best_score_

0.7752829587119402

In [283]:
# best estimator로 예측
pred = grid_lr.best_estimator_.predict(X_test)
accuracy_score(y_test,pred)

0.8181818181818182