# 데이터 전처리
결손값(NaN, Null)은 허용 안됨

    • 결손값의 비율이 작을 때 – 평균값, 중앙값, 최빈값 등으로 대체

    • 결손값의 비율이 클 때 – 해당 피쳐는 드롭

    • 결손값의 비율이 어중간할 때


문자열 값은 입력값으로 허용 안됨

    • 인코딩을 통해 숫자로 변환되어야 함

    • 카테고리형 – 코드 값으로 표현

    • 텍스트형 – 벡터화(CountVectorizer, TfidfVectorizer)

# 데이터 인코딩

# 1. 레이블 인코딩

In [1]:
from sklearn.preprocessing import LabelEncoder

In [2]:
items = ['TV','냉장고','전자레인지','컴퓨터','선풍기','선풍기','믹서','믹서']

In [3]:
# 레이블 인코더 객체 생성
encoder = LabelEncoder()

In [4]:
# 데이터를 주어서 간을 봄 , 일종의 학습
encoder.fit(items)

LabelEncoder()

In [5]:
# 인코딩 변환값을 반환
labels = encoder.transform(items)
labels

array([0, 1, 4, 5, 3, 3, 2, 2])

In [6]:
# 실전에서는 다음과 같이 작성
items = ['TV','냉장고','전자레인지','컴퓨터','선풍기','선풍기','믹서','믹서']
encoder = LabelEncoder()
labels = encoder.fit_transform(items)  # 학습시키고 바로 반환까지
labels

array([0, 1, 4, 5, 3, 3, 2, 2], dtype=int64)

In [7]:
# 고수들은 이렇게 한번에 작성
labels = LabelEncoder().fit_transform(items)
labels

array([0, 1, 4, 5, 3, 3, 2, 2], dtype=int64)

In [8]:
type(labels)

numpy.ndarray

# 2. 원-핫 인코딩

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
labels= LabelEncoder().fit_transform(items)

In [11]:
#객체 생성, 학습 후 변환
oh_encoder  = OneHotEncoder()
labels = labels.reshape(-1,1)
oh_encoder.fit(labels )
one_hot = oh_encoder.transform(labels)
one_hot

<8x6 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [12]:
print(one_hot.toarray())

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]]

In [13]:
# 실전에서는
labels = LabelEncoder().fit_transform(items)
oh_encoder = OneHotEncoder()
one_hot = oh_encoder.fit_transform(labels.reshape(-1,1))
one_hot.toarray()

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

# 피쳐 스케일링과 정규화 
서로 다른 변수의 값 범위를 일정한 수준으로 맞추는 작업

# 3. StandardScaler
표준화 : 평균이 0이고 표준편차가 1인 가우시안 정규분포로 변환

In [14]:
from sklearn.datasets import load_iris
iris = load_iris()

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
iris_std = scaler.fit_transform(iris.data)

In [17]:
import numpy as np
import pandas as pd

In [20]:
df = pd.DataFrame(iris_std,columns= iris.feature_names)
df['species'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,-0.900681,1.019004,-1.340227,-1.315444,0
1,-1.143017,-0.131979,-1.340227,-1.315444,0
2,-1.385353,0.328414,-1.397064,-1.315444,0
3,-1.506521,0.098217,-1.283389,-1.315444,0
4,-1.021849,1.249201,-1.340227,-1.315444,0

In [22]:
df.describe()  # 제대로 변환되어있는지 확인

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02,150.000000
mean,-1.468455e-15,-1.823726e-15,-1.610564e-15,-9.473903e-16,1.000000
std,1.003350e+00,1.003350e+00,1.003350e+00,1.003350e+00,0.819232
min,-1.870024e+00,-2.433947e+00,-1.567576e+00,-1.447076e+00,0.000000
25%,-9.006812e-01,-5.923730e-01,-1.226552e+00,-1.183812e+00,0.000000
50%,-5.250608e-02,-1.319795e-01,3.364776e-01,1.325097e-01,1.000000
75%,6.745011e-01,5.586108e-01,7.627583e-01,7.906707e-01,2.000000
max,2.492019e+00,3.090775e+00,1.785832e+00,1.712096e+00,2.000000

# 4. MinMaxScaler 
정규화 : 최소 0 최대 1 값으로 변환

In [26]:
from sklearn.preprocessing import MinMaxScaler
mm_scaler = MinMaxScaler()
iris_scaled = mm_scaler.fit_transform(iris.data)

In [27]:
df2 = pd.DataFrame(iris_scaled, columns=iris.feature_names)
df2.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,0.428704,0.440556,0.467458,0.458056
std,0.230018,0.181611,0.299203,0.317599
min,0.000000,0.000000,0.000000,0.000000
25%,0.222222,0.333333,0.101695,0.083333
50%,0.416667,0.416667,0.567797,0.500000
75%,0.583333,0.541667,0.694915,0.708333
max,1.000000,1.000000,1.000000,1.000000